#messages-filters, #notifications-filter {
  button[type='submit'] {
    float: right;
    margin-top: 17px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

#filter-clear {
  position: absolute;
  right: 3px;
  top: 6px;
  display: none;

  i {
    font-size: 15px;
  }
}

#filter-query-wrapper {
  position: relative;
}