/*---------------------------------------------*/
/* Integrations
/*---------------------------------------------*/

/**
  Basic
*/
#integration_main {
  b, strong {
    -webkit-font-smoothing: antialiased;
  }

  h4.description {
    text-align: center;
    margin-bottom: 20px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/**
  Active Integrations List
*/
#integrations-list, #stores-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: -20px;

  /**
    Integration
  */
  .store {
    text-align: center;

    .icon-circle {
      color: $color-2;
    }

    .icon-hdd {
      font-size: 60%;
      margin-top: 2px;
      color: $color-2;
    }

    hgroup {
      margin-top: 20px;
      min-height: 55px;
    }

    .store-name {
      font-size: 14px;
      border-bottom: 1px dotted $color-border;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .store-url {
      font-size: 12px;
      font-weight: 400;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  .integration, .store {
    display: inline-block;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    border-bottom-width: 3px;
    padding: 10px 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    width: 170px;
    height: 255px;    
    vertical-align: top;

    &.disabled {
      figure, figcaption {
        opacity: 0.2
      }
    }

    .state-icon {
      color: white;
      position: absolute;
      z-index: 1;
      left: 4px;
      top: 3px;
      font-size: 12px;
    }

    &.custom, &.errors {
      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 38px solid transparent;
        border-right: 38px solid transparent;
        left: -1px;
        top: -1px;
        z-index: 0;
      }
    }

    &.errors {
      border-color: very-light($color-error, 16);

      &:before {
        border-top-color: $color-error;
      }

      .icon-stack .icon-circle,
      .icon-stack .icon-exchange {
        color: $color-error;
      }
    }

    figure.default-icon {
      .icon-exchange {
        font-size: 0.5em;
      }
    }

    /**
      Integration Actions
    */
    .actions {
      list-style: none;
      margin: 10px 0 5px;
      padding: 0;
      text-align: center;
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 10px;

      .action {
        display: inline-block;

        a {
          display: inline-block;
          margin: 0 2px;
          width: 28px;
          height: 28px;
          text-align: center;
          background-color: #EFF5FC;
          border: 1px solid #DEEBF8;
          border-radius: 15px;
          cursor: pointer;

          &:hover {
            background-color: $color-2;
            border-color: darken($color-2, 5);

            i {
              color: $color-1;
            }
          }

          &.refresh-integration {
            &:hover {
              background-color: $color-6;
              border-color: darken($color-6, 5);
            }
          }
          &.delete-integration {
            &:hover {
              background-color: $color-5;
              border-color: darken($color-5, 5);
            }
          }
        }

        i {
          color: $color-body-text;
          font-size: 14px;
          padding-top: 6px;
          display: inline-block;
          padding: 3px 7px;
        }
      }
    }
  }

  /**
    Integration Toggle
  */
  .integration-toggle {
    margin: 0 auto 20px;
    width: 100px !important;
  }

  /**
    Integration Image
  */
  figure {
    text-align: center;
    min-height: 110px;
    position: relative;

    img {
      margin: auto;
      position: absolute;
      top: 0; 
      left: 0; 
      bottom: 0; 
      right: 0;
    }
  }

  /**
    Integration Title
  */
  figcaption {
    text-align: center;
    text-transform: uppercase;
    color: $color-body-text;
    font-weight: 600;
    display: block;
    margin: 10px 0 20px;
  }
}

/**
  Integration Toggle
*/
.integration-toggle, .notification-toggle {
  .toggle-slide {
    width: 100px !important;
    background-color: #EFF5FC;
    border: 1px solid #DEEBF8;
    border-radius: 15px;
  }

  .toggle-on, .toggle-off {
    width: 95px !important;
    font-weight: 600;
    font-size: $body-font-size - 2;
    text-transform: uppercase;
    color: $color-body-text;
  }

  .toggle-on {
    text-indent: -90px !important;

    &.active {
      text-indent: -20px !important;
    }
  }

  .toggle-off {
    text-indent: 90px !important;

    &.active {
      margin-left: -60px !important;
      text-indent: 10px !important;
    }
  }

  .toggle-inner {
    width: 200px !important;
    margin-left: -30px !important;
  }

  .toggle-blob {
    background-color: $color-body-text;
    border-radius: 15px;
    width: 18px !important;
    height: 18px !important;
    margin-top: 1px;
    margin-left: -64px !important;
  }

  .toggle-slide.active {
    background-color: $color-2;
    border-color: darken($color-2, 5);

    .toggle-blob {
      margin-left: -17px !important;
      background-color: darken($color-2, 10);
    }
    .toggle-inner {
      margin-left: 0px !important;
    }
    .toggle-on, .toggle-off {
      color: $color-1;
    }
  }
}

/**
  Integration Tooltip
*/
#integration-tooltip {
  position: absolute;
  display: none;
  z-index: 2147483647;
  padding: 5px 15px;
  border-radius: $border-radius;
  background-color: $color-2;
  color: $color-1;
  text-transform: uppercase;
  font-weight: 600;  
  text-align: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $color-2;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
  }

  &.refresh-integration {
    background-color: $color-6;

    &:after {
      border-top-color: $color-6;
    }
  }
  &.delete-integration {
    background-color: $color-5;

    &:after {
      border-top-color: $color-5;
    }
  }
}
