.consumer-image {
  border-right: none;
}

.state {
  font-size: 90%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.pending:before,
  &.info:before,     { background-color: $color-3 }
  &.failing:before,
  &.error:before,    { background-color: $color-5 }
  &.scheduled:before,
  &.warn:before      { background-color: $color-6 }
  &.parked:before    { background-color: lighten(black, 45) }
}