#integration_main {
  .consumer-image {
    border-right: none;
  }

  .state {
    font-size: 90%;
    display: block;
    padding: 3px 5px;
    width: 100%;
    color: white;
    text-align: center;
    border-radius: $border-radius;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:before { display: none }
    
    &.completed         { background-color: $color-2 }
    &.pending, &.info,
    &.running           { background-color: $color-3; color: white; font-style: normal; margin: 0; line-height: inherit; }
    &.failing, &.error  { background-color: $color-5 }
    &.scheduled, &.warn { background-color: $color-6 }
    &.parked            { background-color: lighten(black, 45) }
  }
}