#hub-dashboard {
  .stats-block, .stats-header {
    border: none;

    &:before {
      display: none;
    }
  }

  .stats-block .stats-data {
    background-color: $color-1;
  }

  .button {
    padding: 6px 15px 7px;
    text-align: left;
    text-transform: none;
  }

  #filter-configuration {
    z-index: 100000;

    .select2-container {
      min-width: 150px;
    }
  }
}

#stats-filter {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx--font-smoothing: grayscale;
  }
}

.stats-ui-dropdown {
  .select2-input {
    margin-left: 5px !important;
  }
}

#filter-query-wrapper {
  .icon-search {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 15px;
  }

  input {
    padding: 7px 10px 8px 30px;
  }
}

#filter-configuration {
  display: none;
  position: absolute;
  background-color: $color-4;
  border-radius: $border-radius;
  padding: 10px 40px 10px 10px;
  margin-top: 10px;

  .select2-search-choice-close { display: none; }
  .select2-chosen { margin-right: 12px; }
  .stats-ui-select, #filter-template, button { display: inline-block }

  button, .select2-container .select2-choice {
    background-color: $color-2;
  }

  #filter-is, #filter-create {
    display: none;
  }

  #filter-create {
    margin-left: 10px;
    padding: 7px 15px 6px;
    vertical-align: bottom;
  }

  #filter-is {
    text-transform: uppercase;
    font-weight: 600;
    color: $color-1;
    font-size: 18px;
    line-height: 22px;
    vertical-align: middle;
  }

  #filter-close {
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: 9px;
    right: 5px;

    i {
      color: $color-1;
      font-size: 22px;
    }

    &:active, &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $color-4;
  }
}

#stats-filter {
  overflow: visible;
}

.stat-toggle {
  margin: 0 auto;
}

#filter-list {
  border-top: 1px dashed $color-border;
  padding-top: 10px;

  span.filter {
    display: inline-block;
    background: lighten($color-border, 5);
    border: 1px solid $color-border;
    padding: 5px 10px 5px 15px;
    border-radius: 16px;
    margin-left: 10px;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 600;

    -webkit-transition: color 0.3s, border-color 0.3s, background-color 0.3s;
       -moz-transition: color 0.3s, border-color 0.3s, background-color 0.3s;
         -o-transition: color 0.3s, border-color 0.3s, background-color 0.3s;
            transition: color 0.3s, border-color 0.3s, background-color 0.3s;

    &:first-child {
      margin-left: 0;
    }

    i.icon-trash {
      padding-left: 5px;
      font-weight: 400;
    }

    &:hover {
      background-color: $color-2;
      color: $color-1;
      border-color: darken($color-2, 5);
    }
  }
}

#error-callout-wrapper {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: $color-error;
  border-radius: $border-radius;

  h2 {
    color: $color-1;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  a {
    color: very-light($color-error, 5);
    border-bottom: 1px dashed very-light($color-error, 5);

    &:hover {
      color: very-light($color-error, 10);
      border-bottom: 1px dashed very-light($color-error, 10);
    }
  }
}
#hub-menu {
  li {
    position: relative;
  }
}
#error-stat-bubble {
  position: absolute;
  right: -25px;
  top: -10px;

  .error-bubble-wrapper {
    .icon-circle {
      font-size: 1.8em;
      color: $color-error;
      position: relative;
      z-index: 0;

      &:before {
        padding-right: 0;
      }
    }

    .errors-count {
      position: absolute;
      z-index: 1;
      color: $color-1;
      top: 0;
      width: 100%;
      font-size: 10px;
      font-weight: 600;
      text-align: center;
    }
  }
}

#stats-table img {
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
}

#stats-table .icon-stack {
  margin-left: 0px;
  margin-right: 10px;
}

#stats-table, #messages-view table {
  th {
    cursor: pointer;

    i {
      color: $color-2;
    }
  }
  td {
    padding: 15px 10px;
    border-left-width: 5px;

    .icon-stack-base {
      font-size: 35px;
    }
    .icon-light {
      margin-left: 4px;
      font-size: 18px;
    }
    .icon-exchange {
      margin-left: 4px;
      font-size: 10px;
    }

    &.integration-image {
      padding: 0;
      text-align: center;
    }
  }
  tr {
    &.state-error, &.state-failing {
      td {
        border-color: very-light($color-error, 20);
        background-color: very-light($color-error);

        .icon-stack-base, .icon-exchange {
          color: $color-error;
        }
      }

      &:hover td {
        background-color: very-light($color-error, 6);
        border-color: very-light($color-error, 25);
      }
    }

    &.state-parked {
      td {
        border-left-color: lighten(black, 75);

        .icon-stack-base, .icon-exchange {
          color: lighten(black, 65);
        }
      }

      &:hover td {
        background-color: lighten(black, 95);
        border-color: lighten(black, 75);
      }
    }

    &.state-warn, &.state-scheduled {
      td {
        border-color: very-light($color-notice, 15);
        border-left-color: very-light($color-notice, 15);
        background-color: very-light($color-notice);

        .icon-stack-base, .icon-exchange {
          color: $color-notice;
        }
      }

      &:hover td {
        background-color: very-light($color-notice, 6);
        border-color: very-light($color-notice, 15);
      }
    }

    &.state-completed {
      td {
        border-left-color: very-light($color-success, 25);

        .icon-stack-base, .icon-exchange {
          color: $color-success;
        }
      }

      &:hover td {
        background-color: very-light($color-success, 10);
        border-color: very-light($color-success, 25);
      }
    }

    &.without-border td {
      border-bottom: none;
    }

    &.hidden {
      td {
        padding: 0;
        border: 1px solid $color-border;
      }

      &:hover {
        td {
          background-color: transparent;
        }
      }
    }
  }
}

.dash_event_line {
  position: absolute;
  top: 0;
  bottom: -4px;
  width: 0px;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  display: block;
  border-color: #9fc820;
}