/*-------------------------------------------------
  Message Sidebar
  -----------------------------------------------*/
.message-sidebar {
  .button.back {
    width: 100%;
    text-align: center;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  nav {
    margin-top: 20px;

    ul {
      list-style: none;
    }

    > ul {
      > li {
        margin-bottom: 20px;

        > a {
          text-transform: uppercase;
          font-size: 110%;
          border-bottom: 1px dashed $color-border;
          width: 100%;
          display: block;
          padding-bottom: 5px;
        }
      }

      ul {
        margin-top: 5px;

        a {
          line-height: 20px;
          color: $color-4;

          &:hover {
            color: $color-2;
          }

          &.active {
            color: $color-2;

            &:hover {
              color: darken($color-2, 5);
            }
          }
        }
      }
    }
  }
}

/*-------------------------------------------------
  Message Details
  -----------------------------------------------*/
#message-view {
  legend {
    font-size: 18px;
    margin-bottom: 15px;
    color: $color-4;

    &.queue-accepted {
      i.icon-stack-base {
        color: $color-2;
      }
    }
    &.queue-archived {
      i.icon-stack-base {
        color: $color-4;
      }
    }
    &.queue-incoming {
      i.icon-stack-base {
        color: $color-3;
      }
    }
  }
}

.message-top-details {
  border-bottom: 1px solid $color-border;
  text-transform: uppercase;
  font-weight: 600;
  color: $color-3;
  padding-bottom: 10px;
  margin-bottom: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .service-name, .message-name {
    font-size: 16px;
  }

  span {
    color: $color-2;
  }
}

.message-minor-details {
  padding-top: 10px;
  color: $color-4;

  .block-title {
    text-transform: uppercase;
    font-weight: 600;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.message-section {
  margin-top: 40px;

  textarea {
    width: 100%;
    height: 340px;
  }
}

.message-section-header {
  font-weight: 600;
  color: $color-2;
  text-transform: uppercase;
  margin-bottom: 5px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .counter {
    color: $color-3;
  }
}

#detail-view pre,
#detail-view .syntaxhighlighter {
  border: 1px solid $color-border;
  border-radius: $border-radius;
}
