#notifications-filter {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx--font-smoothing: grayscale;
  }
}

.notifications-ui-dropdown {
  .select2-input {
    margin-left: 5px !important;
  }
}

#filter-query-wrapper {
  .icon-search {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 15px;
  }

  input {
    padding-left: 30px;
  }
}

#filter-configuration {
  display: none;
  position: absolute;
  background: $color-1;
  border-radius: $border-radius;
  border: 1px solid $color-border;
  padding: 10px;
  margin-top: 10px;

  .notifications-ui-select, #filter-template, button { display: inline-block }

  #filter-is, #filter-create {
    display: none;
  }

  #filter-create {
    margin-left: 10px;
    padding: 7px 15px 6px;
    vertical-align: bottom;
  }

  #filter-is {
    text-transform: uppercase;
    font-weight: 600;
    color: $color-2;
  }

  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $color-border;
  }
}

#notifications-filter {  
  overflow: visible;
}

.notification-toggle {
  margin: 0 auto;
}

#filter-list {
  display: inline;
  line-height: 3em;

  span {
    background: #cee1f4;
    padding: 5px 9px;
    border-radius: 16px;
    margin-left: 10px;
    cursor: pointer;
    white-space: nowrap;
    &::after {
      content: '  |  x'
    }
  }
}

#filter-query {
  
}

#error-callout {
  margin-top: 15px;
}

#notifications-table img {
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
}

#notifications-table .icon-stack {
  margin-left: 14px;
  margin-right: 10px;
}

#notifications-table, #messages-view table {
  tr {
    &.state-error, &.state-failing {
      td {
        border-left-color: very-light($color-error, 15);
      }

      &:hover td {
        background-color: very-light($color-error, 6);
        border-color: very-light($color-error, 15);

        .integration-icon-fallback {
          .icon-stack-base, .icon-exchange {
            color: $color-error;
          }
        }
      }
    }

    &.state-parked {
      td {
        border-left-color: lighten(black, 75);
      }

      &:hover td {
        background-color: lighten(black, 95);
        border-color: lighten(black, 75);

        .integration-icon-fallback {
          .icon-stack-base, .icon-exchange {
            color: lighten(black, 65);
          }
        }
      }
    }

    &.state-warn, &.state-scheduled {
      td {
        border-left-color: very-light($color-notice, 15);
      }

      &:hover td {
        background-color: very-light($color-notice, 6);
        border-color: very-light($color-notice, 15);

        .integration-icon-fallback {
          .icon-stack-base, .icon-exchange {
            color: $color-notice;
          }
        }
      }
    }

    &.state-completed {
      td {
        border-left-color: very-light($color-success, 25);
      }

      &:hover td {
        background-color: very-light($color-success, 10);
        border-color: very-light($color-success, 25);

        .integration-icon-fallback {
          .icon-stack-base, .icon-exchange {
            color: $color-success;
          }
        }
      }
    }

    &.without-border td {
      border-bottom: none;
    }

    &.hidden {
      td {
        padding: 0;
        border: 1px solid $color-border;
      }

      &:hover {
        td {
          background-color: transparent;
        }
      }
    }
  }
}