/*
 *= require toggles
 *= require jquery.ui.tabs
 *= require daterangepicker
 *= require shCore
 *= require shCoreDefault
 *= require shThemeDefault
*/
@import url(//fonts.googleapis.com/css?family=Inconsolata);

@import 'admin/globals/functions';
@import 'admin/globals/mixins';
@import 'admin/globals/variables';

@import 'plugins/font-awesome';

@import 'styles/plugins/font_awesome';
@import 'styles/plugins/parsley';
@import 'styles/plugins/jquery_ui';
@import 'styles/plugins/select2';
@import 'styles/plugins/daterange';
@import 'styles/plugins/syntax_highlighter';
@import 'styles/plugins/noty';

@import 'styles/components/stats_block';
@import 'styles/components/navigation';
@import 'styles/components/messages_table';
@import 'styles/components/integrations';
@import 'styles/components/filters';
@import 'styles/components/icons';

@import 'styles/sections/message_view';
@import 'styles/sections/notifications';

/* Some fixes backported */
#admin-menu li a {
  font-weight: 600;

  .text {
    font-family: $base-font-family;
  }
}

.hidden { display: none; }

.order_events_iframe {
  border: none;
  width: 100%;
  height: 100%;
  min-height: 500px;
  overflow-x:hidden;
  overflow-y:scroll;
}


#endpoint-message-editor {
  height: 400px;
  width: 100%;
  border: 1px solid lightgray;
}

label.large {
  font-size: 90%
}

a.add-fields {
  display: block;
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
}

.admin-response-code-class-success {
  color: #9fc820;
}

.admin-response-code-class-success i {
  color: #FFF;
  background-color: #9fc820;
  font-weight: bold;
  font-style: normal;
  padding: 2px;
  margin: 1px;
}

.admin-response-code-class-client-error, .admin-response-code-class-server-error {
  color: #f57e80;
}

.admin-response-code-class-client-error i, .admin-response-code-class-server-error i {
  color: #FFF;
  background-color: #f57e80;
  font-weight: bold;
  font-style: normal;
  padding: 2px;
  margin: 1px;
}

.admin-response-code-class-other {
  color: #F3AD4E;
}

.admin-response-code-class-other i {
  color: #FFF;
  background-color: #F3AD4E;
  font-weight: bold;
  font-style: normal;
  padding: 2px;
  margin: 1px;
}
#admin-response-headers-container {
  display: none;
}

#admin-response-headers-container dt, #admin-response-headers-container dd {
  height: 32px;
  word-break: break-all;
  word-wrap: break-word;
}

#active-integrations {
  margin-top: 20px;
}

/**
  New Connection Wizard
*/
#new-connection-wizard {
  .disabled {
    opacity: 0.3
  }

  #integration-url * {
    position: absolute;
    width: 50%;
    left: 25%;
  }

  [data-step="environment"] {
    .row {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  #integration-url [data-env="production"] {
    position: relative;
    left: inherit;
    width: inherit;
  }

  .field {
    text-align: center;

    label {
      font-size: 100%;
      cursor: pointer;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    label, .icon-stack {
      display: block;
      text-align: center;
      margin: 0 auto;
    }

    .icon-stack {
      .icon-exchange {
        font-size: 18px;
      }
      .icon-user {
        margin-left: -10px;
      }
      .icon-plus, .icon-ok {
        margin-top: 20px;
        margin-left: 10px;
      }
    }

    label[for='user-new'], label[for='user-registered'] {
      i { font-size: 85% }
    }
    label[for='user-new'] {
      i {
        color: $color-3
      }
    }
    label[for='user-registered'] {
      i {
        color: $color-2
      }
    }
  }

  .env-custom {
    label, .icon-circle, .icon-exchange {
      color: $color-3;
    }
  }
  .env-staging {
    label, .icon-circle, .icon-exchange {
      color: $color-6;
    }
  }
  .env-production {
    label, .icon-circle, .icon-exchange {
      color: $color-2;
    }
  }

  [data-step="user-details"], [data-step="store-details"] {
    input[type="text"], input[type="email"],
    input[type="url"], input[type="password"] {
      width: 100%;
    }
  }

  .form-actions {
    text-align: center;

    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    span.or {
      text-transform: uppercase;
      display: inline-block;
      font-weight: 600;
      padding: 0 10px;
    }

    button {
      font-size: 100%;
      min-width: 110px;
    }

    .connect {
      background-color: $color-2;
    }
    .cancel {
      background-color: $color-4;
    }
  }
}

/* A class used by the jQuery UI CSS framework for their dialogs. */
.ui-front {
  z-index:1000000 !important;  /* 100 is the default value */
}
