<% content_for :page_title do %>
  <nav id="hub-menu">
    <ul>
      <li><a href="/admin/integration">Overview</a></li>
      <li><a href="/admin/integration/messages">Messages</a></li>
      <li><a href="/admin/integration/notifications">Notifications</a></li>
      <li><a href="/admin/integration/test">Test</a></li>
    </ul>
  </nav>
<% end %>

